html, body {}

/* Hide scrollbar for Chrome, Safari and Opera */

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */

body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

#app {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: absolute;
  background: white;
  overflow: hidden;
  /* Hide scrollbars */
}

/* Hide scrollbar for Chrome, Safari and Opera */

#app::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */

#app {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

div#toast {
  position: absolute;
  top: 2em;
  margin: 4em;
  width: calc(100% - 8em);
  z-index: 99999;
  box-shadow: 3px 3px 12px 0px #00000061;
  display: none;
}

div#toast.active {
  display: block;
}

#login {
  display: none;
  background: white;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  padding: 10% 20%;
  z-index: 9999;
}

#login .box {
  padding: 3em;
  text-align: center;
}

#main {
  /* display: none; */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  /* background: pink; */
  z-index: 1;
}

#header {
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

#chat {
  /* background: yellow; */
  position: absolute;
  width: 250px;
  height: calc(100% - 3.25rem);
  top: 3.25rem;
  right: 0px;
  overflow: hidden;
  z-index: 9;
}
#chat li{
  overflow: hidden;
  white-space: nowrap;
}

#users{
  position: absolute;
  width: 100%;
  height: 30%;
  top: 0;
  left: 0;
  padding: 5px;
  overflow-y: scroll;
  /* background:lightcyan; */
}

#users img.avatar {
  height: 25px;
  vertical-align: middle;
  margin-right: 5px;
  margin-top: 5px;
}

#messages{
  position: absolute;
  width: 100%;
  height: calc(70% - 60px);
  top: 30%;
  left: 0;
  padding: 5px;
  overflow-y: scroll;
  /* background:lightsteelblue; */
}

#messages .msg{
  list-style:none;
  font-size: 14px;
  line-height: 14px;
}

#messages img.avatar {
  height: 25px;
  vertical-align: middle;
  margin-right: 5px;
  margin-top: 5px;
}

#message_entry{
  position: absolute;
  width: 100%;
  height: 80px;
  bottom: 0px;
  left: 0;
  /* background:rgb(253, 214, 156); */
  margin-block-end: 0;
}

#drawing_container{
  position: absolute;
  top: 3.25rem;
  left: 0px;
  width: calc(100% - 250px);
  height: calc(100% - 3.25rem);
  /* background:rgb(93, 160, 247); */
}


#toolbar{
  position: absolute;
  top: 5rem;
  left: 0px;
  width: 50px;
  bottom: 20%;
  text-align:center;
  border-radius: 5px;
  border: 2px solid #585858;
  box-shadow: 3px 3px 11px #0000004a;
  background:white;
  user-select: none
}

#toolbar .tool{
  width: 30px;
  height: 30px;
  margin-top: 10px;
  user-select: none
}

#toolbar .tool:hover {
  background-color: #ffb3b378;
}

#toolbar .tool.active {
  background-color: #cbc8ff;
}

#color_picker{
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-top: 10px;
}

.color-pickers {
  display: block;
  border: 1px solid #000;
  border-top-width: 0;
  overflow: hidden;
}

.color-pickers span {
  display: block;
  float: left;
  width: 10%;
  height: 1.25em;
  cursor: pointer;
}


/* popup toolbar */

#popup_toolbar{
  position: absolute;
  top:50vh;
  left: 50vw;
  /* height: 50px; */
  /* bottom: 20%; */
  text-align:center;
  border-radius: 5px;
  border: 2px solid #585858;
  box-shadow: 3px 3px 11px #0000004a;
  background:white;
  user-select: none;
  display: none;
}

#popup_toolbar .tool{
  width: 30px;
  height: 30px;
  margin: 5px;
  user-select: none
}


#popup_color_picker{
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 5px;
}

/* UPLOAD AREA */
#upload_area{
  position:absolute;
  bottom:10vh;
  left:20vw;
  width:40vw;
  height:20vh;
  background:white;
  border-radius:20px;
  text-align: center;
  line-height: 20vh;
  border: thin solid grey;
  display:none;
}

#upload_area.active{
  display:block;
}